*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}
.container{
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.checkbox{
    display: flex;
    margin-bottom: 10px;
}

.hidden_checkbox{
    display: none;
}

.checkbox_label{
    display: flex;
    align-items: center;
}

.visible_checkbox{
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(53, 53, 160);
    border-radius: 10px;
    background-color: rgb(230, 176, 112);
}

.checked{
    display: none;
    position: absolute;
    top: 5px;
    left: 12.5px;
    height: 20px;
    width: 20px;
    border-bottom: 5px solid rgb(230, 176, 112);
    border-left: 5px solid rgb(230, 176, 112);
    transform: rotate(-45deg);
}

.hidden_checkbox:checked + .checkbox_label .visible_checkbox{
    background-color: rgb(53, 53, 160);
}

.hidden_checkbox:checked + .checkbox_label .visible_checkbox .checked{
    display: block;
}

.hidden_checkbox:focus + .checkbox_label .visible_checkbox{
    border-color: rgb(119, 111, 235);
    background-color: rgb(119, 111, 235);
}

.hidden_checkbox:focus + .checkbox_label .visible_checkbox .checked{
    border-color: rgb(53, 53, 160);
}